

.newsbox2_item {
	position:relative;
	float:left;
	text-align: center;
	transition: all 0.4s ease-in-out; 
	-webkit-transition: all 0.4s ease-in-out;
}
.newsbox2_item:hover {
	z-index:1000;
	transform:translateY(10px);
	-o-transform:translateY(10px);
	-ms-transform:translateY(10px);
	-webkit-transform:translateY(10px);
}
.newsbox2_sett:hover {
	box-shadow:0 0 5px rgba(0,0,0,0.4);
}
.newsbox2_item .newsbox2_foto img {
	width: 100% !important;
	transition: all 0.4s ease-in-out; 
	-webkit-transition: all 0.4s ease-in-out;
}
.newsbox2_item:hover .newsbox2_foto img {opacity:0.8;
	-webkit-transform: scale3d(0.95,0.95,1);
	transform: scale3d(0.95,0.95,1);}
.newsbox2_descr {
	height:30px;
	padding:20px 0 10px;
	background-color:#fff;
	transition: all 0.5s ease-in-out; 
	-webkit-transition: all 0.5s ease-in-out;
}
.newsbox2_item:hover .newsbox2_descr {opacity:0;
	transform:translateY(150px);
	-o-transform:translateY(150px);
	-ms-transform:translateY(150px);
	-webkit-transform:translateY(150px);
}
.newsbox2_name {
	padding-bottom:8px;
	text-transform:uppercase;
	font-weight:900;
	line-height:20px;
	font-size:16px;
}
.newsbox2_post {
	padding-bottom:10px;
	font-size:14px;
	transition: all 0.4s ease-in-out; 
	-webkit-transition: all 0.4s ease-in-out;
}
.newsbox2_item:hover .newsbox2_post {padding-bottom:10px;}

.newsbox2_about {
	padding:10px 20px;
	line-height:20px;
	font-size:0;
	opacity:0;
	background:#fff;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;	
	transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
}
.newsbox2_item:hover .newsbox2_about {
	font-size:13px;
	opacity:1;
	transform:translateY(-30px);
	-o-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-webkit-transform:translateY(-30px);
}
.newsbox2_social a {
	width:auto;
	padding: 5px 15px;
	color: #fff;
	background-color:#444;
	font-size:14px;
	opacity:0;
	-moz-transition: all 0.4s ease 0s;
}
.newsbox2_social{  
	transform:translateY(-30px);
	-o-transform:translateY(-30px);
	-ms-transform:translateY(-30px);
	-webkit-transform:translateY(-30px);
}
.newsbox2_item:hover .newsbox2_social a {opacity:1;}

.prev-next {
    position: absolute;
    height: 25px;
    width: 25px;
    color: #989898;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #989898;
    top: 7px;
    padding-top: 1px;
    right: 0;
    text-align: center;
    cursor: pointer;
    display: block;
    z-index: 1000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.prev-next:hover{
    border:1px solid #ff4647;
    background-color: #ff4647;
    color: #fff;
}
#nsbox {
    position: relative;
    height: 30px;
}

#nsbox .prev {
    right: 30px;
}
