body{color: #444;line-height:1.9em;margin:0 !important;
font-family: 'Open Sans', sans-serif !important;
font-size: 14px !important;
font-weight:300 !important;}
#wrapper{position:relative;display:block;z-index:40;background:#ffffff;}

/* BASIC STYLING - TYPOGRAPHY
=============================================================================*/
a{color: #747474;-webkit-transition: all 200ms ease-in;-moz-transition: all 200ms ease-in;-ms-transition: all 200ms ease-in;-o-transition: all 200ms ease-in;transition: all 200ms ease-in;}
h1{font-size:46px !important;}
h2{font-size:38px !important;margin:0 !important;}
h3{font-size:28px !important;margin:0 !important;}
h4{font-size:22px !important;}
h5{font-size:16px !important;}
h6{font-size:12px !important;}
h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', sans-serif !important;
font-weight: 300 !important;
}
nav {
font-family: 'Open Sans', sans-serif !important;
font-size: 16px !important;
font-weight: 400 !important;
}

code{ background:grey !important; }
pre { color: #444 !important; background-color: #f6f6f6 !important; border: 1px #e6e6e6 solid !important; border-radius: 0px !important; }
.clean, .moduletable-clean{	margin:0 !important;padding:0 !important;border: none !important;}
.container { width: 940px !important; }
/*READY CLASSES
=============================================================================*/
.shadow{-webkit-box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);-moz-box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);}
.left { text-align:left !important; float:left !important;}
.center{ text-align:center !important;}
.grey{background:#f6f6f6;}
.dark{background:#181716;	color: #f6f6f6; }
.white{background:#fff;}

.moduletable h3, .moduletable-center h3 {margin-bottom:8px !important; }
.moduletable{margin:10px 0;}
.moduletable-center{text-align:center !important;margin:20px 0;}


/* HEADER SPOT STYLING ( TITLE & NAVIGATION )
=============================================================================*/

.sitetitle:hover { color:#212121 !important; }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,.dropdown-menu>li>a:hover,.navbar-nav>li>a{
	background-color: transparent !important;
}	

.dropdown-menu>li>a { color: #333 !important; }	

.dropdown-menu>li>a:hover {
	margin-left:3px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in; 
}	

.navbar-right .dropdown-menu {
	left: 0% !important;
	right: 0;
}

.navbar {
	z-index:900;
}

.navbar a { text-transform:uppercase;}

.nav-child li a{ text-transform:none !important; }

.navbar-default {
	border: none !important;
	line-height:75px !important;
}
.navbar-nav>li>a {
	padding: 0px !important;
}
.open->dropdown-submenu, ul.nav li.parent { display:block !important; }	
ul.nav li, ul.nav-child li { position: relative; }
	
@media (min-width: 768px) {
	
	ul.nav li.parent:hover > ul.nav-child:before
	ul.nav li.parent:hover > ul.nav-child:after { display:none;}
	ul.nav-child li:hover > ul.nav-child:before
	ul.nav-child li:hover > ul.nav-child:after { display: none; }
	
	show{
		opacity:0 !important; 
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-ms-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		transition: all 200ms ease-in; 
	}
	
	ul.nav li.parent:hover > ul.nav-child {
	   display: block;
	   position: absolute;
	   left: 0%;
	   top:100%;
	   opacity:1;
	   -webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-ms-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		transition: all 200ms ease-in; 
	}
	
	ul.nav-child li > ul{
		z-index:1001;
		opacity: 0;
		left:100%;
		top:0%;
		-webkit-transition: all 0.3s ease-in-out; 
		-moz-transition: all 0.3s ease-in-out; 
		-ms-transition: all 0.3s ease-in-out; 
		-o-transition: all 0.3s ease-in-out; 
		transition: all 0.3s ease-in-out;
	}
	
	ul.nav-child li:hover > ul{
	   left:90% !important;
	   top:10% !important;
	   opacity:1 !important;
	   -webkit-transition: all 0.3s ease-in-out; 
		-moz-transition: all 0.3s ease-in-out; 
		-ms-transition: all 0.3s ease-in-out; 
		-o-transition: all 0.3s ease-in-out; 
		transition: all 0.3s ease-in-out;
	}
	
	.navbar-nav>li>a, .navbar-nav>li>span {
		padding: 0 15px !important;
		line-height:80px !important;
		position: relative;
		display: block;
	}
	
	ul.nav-child {
		background: rgba(255, 255, 255, 0.95); 
		text-transform:none; 
		min-width:220px; 
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
		border: 1px #e6e6e6 solid; 
		list-style:none;
		border-radius:0 !important;
		-moz-border-radius:0 !important;
		-webkit-border-radius:0 !important;
		padding:0 !important;
	}
	
	.dropdown-menu>li{
		padding:0 !important;
		margin:0 !important;
	}
	
	.dropdown-menu>li>a {
		display: block;
		padding: 0px 20px !important;
		clear: both;
		font-weight: 400;
		line-height: 3em !important;
		white-space: nowrap;
		border-bottom:1px solid #e6e6e6;
	}
	
}

@media (max-width: 768px) {
		
	.caret { 
		float:right;
		margin-top:13px;
	}
	
	.navbar-nav 
	{
		background:#ffffff;
	}
	
	.nav-child {
		list-style:none !important;
		padding-left:0px;
		background:#fafafa;
	}
	
	.nav-child li a {
		text-transform:uppercase !important;
		line-height:30px !important;
	}
	
	.navbar-toggle {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	
	.navbar-nav>li>a, .navbar-nav>li>span {
		padding: 0 5px !important;
		line-height:40px !important;
		position: relative;
		display: block;
	}
	
	.dropdown-menu>li>a {
		display: block;
		padding: 10px 0px !important;
	}

}

.fixed {
	width:100%;
	position:fixed !important;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

/* BREADCRUMBS SPOT STYLING
=============================================================================*/
#breadcrumbs{background: #fafafa; padding: 15px 0;}
.breadcrumb {padding: 0 !important;margin-bottom: !important; list-style: none; background:none !important; border-radius: 0 !important; font-size:28px !important; font-weight:300 !important; color:#ffffff !important;}
.breadcrumb  a {font-size:28px !important;font-weight:300 !important;color:#555 !important;}
span.divider{display:none !important;}
.breadcrumb > .active {color:#555 !important;}
.breadcrumb > li+li:before:first-child  {
display:none; }

/* DEFAULTS */
.error-message {top:380px; font-size:26px; text-align:center; display:block; width:100%; position:absolute; letter-spacing:10px;  }
.error-message h3, .error-code{font-family:'Open Sans',sans serif !important; font-weight:300;}
.error-code {top:300px; font-size:136px !important; text-align:center; display:block; width:100%; position:absolute; font-weight:300; letter-spacing:10px; }
.error-button {top:500px; text-align:center; display:block; width:100%; position:absolute; font-weight:300; }

/* MODSPOTS BLOCK STYLING
=============================================================================*/
.archive, .category-list{padding:0 !important;}

/* GOTOP BUTTON 
=============================================================================*/
.go-top {position: fixed;bottom: 2em;right: 2em;text-decoration: none;color: white;background-color: rgba(0, 0, 0, 0.60);font-size: 15px;padding: 0.1em;z-index:120;border: 2px solid rgba(255, 255, 255, 0.20);text-align:center;display: inline-block;width: 40px !important;height: 40px !important;line-height:40px !important;display:none;}
.delay{-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}

.modspot{
padding:30px 0px !important;
position:relative;
z-index:50;
}

/* BUTTONS STYLING */

.readon:hover { color:#747474 !important;}

.button-white
{
	background: none;
	border: #ffffff 1px solid;
	color: #ffffff !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.button-negative
{
	background: #ffffff;;
	border: 1px solid #ffffff;
	color: #747474 !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

.big
{
	padding: 15px 35px !important;
	font-size: 20px !important;
	line-height: 30px !important;
}

.medium, input#submitCommentButton
{
	padding: 12px 30px !important;
	font-size: 18px !important;
	line-height: 30px !important;
}

.small
{
	padding: 10px 20px !important;
	font-size: 14px !important;
	line-height: 20px !important;
}

.mini
{
	padding: 4px 10px !important;
	font-size: 12px !important;
	line-height: 14px !important;
}

button{border-radius:2px !important;}

/************************* JOOMLA STYLING ********************************/

/* PAGINATION */
.pagination { text-transform:uppercase;font-size:14px;border-top: 1px #e6e6e6 solid; width:100%; padding-top:20px; }
.pagination .counter {text-align:center; color:#999 !important; }
.pagination ul li { padding:0 10px; color:#999;  }
.pagination ul{text-align:center;}

.bottominfo{ font-style:italic; padding:10px 0; margin-bottom:10px; border-bottom:1px #e6e6e6 solid; }

/* SINGLE ARTICLE */

.published, .createdby, .category-name, .create  { color: #999999 !important; padding-right:8px; margin-right:8px; border-right:1px #e6e6e6 solid; }
.modified, .article-info a, span.taglabel { color: #999999 !important; }
.category-name-last, .hits { color: #999999 !important; padding-right:16px; margin-right:8px; border-right:1px #e6e6e6 solid; }
.create { padding-left:8px; margin-left:8px; border-left:1px #e6e6e6 solid; }
.page-header { border: none !important; }
.tags { display:inline-block ; margin:15px 0 !important; }
span.taglabel { padding-right:8px; font-style: italic; }
.modified-bottom, .create-bottom, .hits-bottom{ color: #999999 !important; padding-right:8px; margin-right:8px; }
.modified-bottom, .create-bottom { float:right !important; }
.item-image { margin:10px 0 !important; width:100%; overflow:hidden; }
span.action-btn { padding-left:8px !important; }
span.action-btn a { color: #999999 !important; }
.action-btn a i { display:none !important; }
.btnreadmore { margin:10px 0; }

/* JOOMLA ARCHIVE ARTICLES */
#k2Container input.inputbox { margin:10px 0; }
textarea.inputbox, input.inputbox, select.inputbox { border:1px #e6e6e6 solid !important; padding:5px !important; color: #999999 !important; font-size:11px !important;}
.stylefilter { padding: 15px; margin-bottom: 20px; }

/* CATEGORY LIST JOOMLA */

.category-desc { border-bottom: 1px #e6e6e6 solid !important; padding-bottom:10px !important; margin-bottom:20px !important; }

/* JOOMLA PAGINATION */

.label {border-radius:0 !important;}
.pagination > ul > li { display: inline-block !important; }

.article-info { margin-bottom:20px !important; }

.componentheading
{
	font-weight:300 !important;
	font-size:46px !important;
	line-height:1.4 !important;
	color: #444;
}

.page-header 
{
padding-bottom: 9px;
margin: 0px !important;
border-bottom: 1px solid #eeeeee;
}


/* FORMS */

.dl-horizontal dt
{
	line-height:1.6 !important;
	text-align:left !important;
	font-weight:400 !important;
	width:250px !important;
}

.form-horizontal .control-label 
{
	text-align: left;
}

label
{
	font-weight: 300 !important;
}

.form-horizontal button
{
	margin-top:20px;
}

.controls input
{
	background: #ffffff !important;
	color: #444;
}

.formlink ul.nav
{
	float:left !important;
	border-top: 1px #e6e6e6 solid !important;
	width:100%;
	margin-top:20px !important;
}

.formlink > ul.nav > li > a
{
	text-transform:none !important;	
	border:none !important;
	padding-left:0 !important;
	padding-top:10px !important;
}

.nav-tabs 
{
	border-bottom: none !important;
}


#designed_by
{
	text-align: right;
}
#footer 
{
	background-color: #fff; color: #333 ;padding: 20px 0;
}
#footer a 
{
   color: #777 !important;
}
#slider 
{
   padding: 20px 0;
}
.site-title {
font-size: 30px;
font-weight: 300 !important;
}
textarea{width:98%;}
#contact-form input{width:40%;}
/* Button, Input */

input, select, textarea, .inputbox, button, .button, input[type="button"], input[type="submit"] {
	padding: 3px;
}

input[type="button"], input[type="text"] {}

input[type="button"] { }

select, input[type="text"], input[type="password"], input[type="email"], textarea, .inputbox, .validate-username, .validate-password { 
	border: 0; background: #fff; color:#999;
	-webkit-box-shadow: 0 0 0 1px #ccc inset; box-shadow: 0 0 0 1px #ccc inset;
	border-radius: 3px; -webkit-border-radius: 3px;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
.inputbox:hover, .inputbox:focus, select:hover, select:focus,
 textarea:hover, textarea:focus { background: #ffffcc; color:#666; }


select.inputbox:focus {outline:none;}

.browserChrome input[type="text"]:focus, .browserChrome input[type="password"]:focus, .browserChrome input[type="email"]:focus,
.browserSafari input[type="text"]:focus, .browserSafari input[type="password"]:focus, .browserSafari input[type="email"]:focus,
.browserChrome .inputbox:focus, .browserChrome  textarea:focus,
.browserSafari .inputbox:focus, .browserSafari textarea:focus {outline: none;}

/*  Com Contact  */
.contact .pane-sliders .panel, #slide-contact .accordion-group{
  margin-bottom:5px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
		  clear:both;
}
.contact .pane-sliders .panel h3{margin:2px;}
#contact-slider .pane-down{ border-top:1px solid #ddd !important;}
.contact .pane-sliders .panel h3 a{ color:#666; display:block;  padding:7px 10px;}
.pane-slider.pane-down{padding:15px !important;}
.contact .pane-sliders .contact-image{ display:block; padding:20px 0px;}
.contact-position{ font-weight:bold;display:block;padding-bottom:10px;}
.pane-toggler{border-bottom: 0 none;}
.contact .pane-sliders .jicons-icons{ display:inline-block; float:left;}
.contact .contact-form fieldset{ border:0; padding:0 15px;}
.contact .contact-form fieldset legend{ padding:0px 0px 20px;}

#slide-contact .accordion-group .accordion-inner{ padding-top:20px;}
#slide-contact .accordion-group .thumbnail{ margin:15px; border:0px;}
#slide-contact .accordion-group .accordion-toggle{ display:block; padding:7px; font-size:150%; font-weight:normal;}
#slide-contact .accordion-group .accordion-body.in{ border-top:1px solid #e5e5e5;}

/*    Action    */
.btn-group.actions{display:inline-block !important;}
.actions li img,.content_rating img,.article-info img,
.actions li.edit-icon img{ width:auto !important; margin:0; padding:0;}
.edit.item-page .formelm, .edit.item-page .formelm-buttons{ display:block; margin-bottom:10px;}
.edit.item-page .formelm-buttons{ margin-left:160px;}
.edit.item-page .formelm-buttons button { margin-right:10px;}
.edit.item-page #adminForm textarea { clear:both;display:block;}
#editor-xtd-buttons, .toggle-editor{ display:inline-block;}
#editor-xtd-buttons .button2-left, .toggle-editor .button2-left{ display:inline-block; padding:2px 5px; border:1px solid #ddd; margin-top:10px;}
.edit.item-page .formelm-area{ margin-bottom:20px;}
.edit.item-page .formelm label { width:160px;}
.actions{ list-style:none; float:right; display:inline-block; text-align:right;}
.actions li{ display:inline-block; list-style:none; padding:0px;}
.tc_category_creat dd{
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #999999;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
	}

.pagenav{ float:left; padding:0;}
.pagenav > li {
  float: left;
  margin-bottom: -1px;
  list-style:none;
}

.pagenav > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border:0px 1px solid transparent;
  border-radius:0;
  text-transform:uppercase;
}
.pagenav > li.next { margin-left:10px;}

.pagenav > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.pagenav > li.active > a,
.pagenav > li.active > a:hover,
.pagenav > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}
	

/*    Massages   */
.invalid{
    border-color: #A94442;
	color: #A94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
#system-message{ background:none !important; border:none !important; padding:0 !important;}
#system-message dd{ text-indent:0;}
#system-message dd ul {
  padding: 15px;
  margin:0;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image:none !important;
  list-style:none;
}
#system-message dd.message ul{
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}

#system-message dt.notice,
#system-message dt.message,
#system-message dt.error{ display:none;}
#system-message dd.notice.message ul{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

#system-message dd.error.message ul {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-message {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #31708F;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}

.cols-2 .column-1 {
    width: 49%;
    float: left;
}

.cols-2 .column-2 {
    width: 49%;
    float: right;
    margin: 0
}

.cols-3 .column-1 {
    float: left;
    width: 32%;
    padding: 0 5px;
    margin-right: 2%

}

.cols-3 .column-2 {
    float: left;
    width: 32%;
    margin-left: 0;
    padding: 0 5px
}

.cols-3 .column-3 {
    float: right;
    width: 32%;
    padding: 0 5px
}

.cols-4 .column-1 {
    float: left;
    width: 24.8%;
    padding: 0 7px;

}

.cols-4 .column-2 {
    float: left;
    width: 24.8%;
    margin-left: 0;
    padding: 0 7px
}

.cols-4 .column-3 {
    float: left;
    width: 24.8%;
    padding: 0 7px
}

.cols-4 .column-4 {
    float: right;
    width: 24.8%;
    padding: 0 7px
}

.items-row {
    overflow: hidden;
    margin-bottom: 10px !important;
}

.column-1,
.column-2,
.column-3,
.column-4 {
    padding: 10px 5px
}

.column-2 {
    width: 55%;
    margin-left: 40%;
}

.column-3 {
    width: 30%
}

.column-4 {
    width: 24.8%
}
.blog img {
    width: 100%
}

/*    Style   */

a:hover{color: #c00;text-decoration: none !important;}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus { color: #c00; }	

.navbar-nav a:hover, ul.nav-child > li.active > a, ul.nav-child li.current > a { color:#c00 !important;}

.breadcrumb  a:hover{color:#c00 !important;}
.go-top:hover{background-color: rgba(255, 255, 255, 0.50);border: #c00 1px solid;}

.readon { color:#c00; }
input#submitCommentButton
{
	background: #c00 !important;
	border: #c00 1px solid !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	color: #ffffff !important;
	display: inline-block !important;
	margin-bottom: 0 !important;
	margin-top:20px !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

li.minitags a 
{
	background: #c00;
	border: #c00 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 0px;
	color: #ffffff !important;
	display: inline-block;
	margin-bottom: 0 ;
	margin-top:20px ;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	padding: 4px 10px ;
	font-size: 12px ;
	line-height: 14px ;
}

li.minitags a:hover 
{
	background-color: rgba(104, 181, 253, 0) !important;
	color: #c00 !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

.button:hover
{
	background-color: rgba(104, 181, 253, 0);
	border: 1px solid #c00;
	color: #c00 !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

.featured
{
	background-color: rgba(104, 181, 253, 0);
	border: 1px solid #c00;
	color: #c00 !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	float:right;
	margin-top: 1.8em !important;
}

.button-negative:hover, .button
{
	background-color: #c00;
	border: #c00 1px solid;
	color: #ffffff !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.article-info a:hover { color:#c00 !important; }
.label-info { background-color: #c00 !important; }
.label-info:hover { background: none !important; border: #c00 1px solid !important; color: #c00 !important; }
span.action-btn a:hover { color: #c00 !important; }
.pager li > a:hover { text-decoration: none; background: none !important; border-radius:2px !important; border: #c00 1px solid !important; color:#c00 !important; }
.pager li > a { text-decoration: none; background: #c00 !important; border-radius:2px !important; border: #c00 1px solid !important; color:#ffffff !important; }
.filter-search-lbl { color: #c00 !important; font-size:14px !important; }
.badge { padding: 10px !important; vertical-align: middle !important; background-color: #c00 !important; border-radius:0 !important; }
#tops, #tops .container{ color:#242424 !important;background-color:#f0f0f0 !important;}
#tops a { color:#242424 !important; }
#info, #info .container{ color:#2e2d2d !important;background-color:#ebebeb !important;}
#info a { color:#2e2d2d !important; }
.bottomspot, .bottomspot .container { color:#ededed !important; background-color:#d40f0f !important;z-index:50;}
.removed{top:-80px !important; padding:0 !important;margin:0 !important;line-height:80px !important;}
nav { background:#ffffff !important; margin-bottom:0px !important; position:absolute;}
nav a {color:#212121; }
.fixed { background:#ffffff !important;-webkit-box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);-moz-box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);box-shadow: 0px 1px 4px 0px rgba(226,226,226,1);-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;top:0;}
.fixed a { color:#212121 !important;}
select{width:220px;}